html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#absolute-field {
    position: absolute;
    right: 0;
    top: 0;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-center-sort {
    justify-content: center;
    align-content: center;
    align-items: center;
}